.container {
    max-width: 100%;
    width: 90%;
    max-width: 500px; /* Máximo ancho de 500px */
    margin: 0 auto; /* Centrado horizontal */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Asegura que ocupe exactamente el 100% de la pantalla */
    box-sizing: border-box; /* Incluye padding y border dentro del ancho/alto */
    padding: 20px; /* Un pequeño padding para evitar que quede muy pegado a los bordes en pantallas pequeñas */
}